{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-3"></div>
    <div class="col-12 m-0 p-5" style="background-color: rgba(0,0,0,0.6); height: fit-content">
        <h1 class="text-white">
            Edit Show #{{ selected_show.id}}
        </h1>
        <div class="container my-3">
            <form method="POST" action="/shows/{{ selected_show.id }}/update">

                {% csrf_token %}

                <div class="col-10 mb-3">
                    <label for="exampleInputEmail1" class="form-label text-white">TV SHOW NAME</label>
                    <input type="text" class="form-control" value="{{ selected_show.title}}" name="title" required>
                    <div id="showHelp" class="form-text text-white">Enter tv show name</div>
                </div>

                <div class="col-4 me-5 my-5 d-inline-block">
                    <label for="exampleInputPassword1" class="form-label text-white">NETWORK</label>
                    <select type="select" class="form-control" name="network" required>
                        <option selected>Select the Channel</option>
                        {% for network in networks %}
                        {% if network.id != selected_show.network.id %}
                        <option value={{network.id }} hide>{{ network.name }}</option>
                        {% else %}
                        <option value="{{network.id}}" disabled>{{network.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div id="networkHelp" class="form-text text-white">
                        Enter network name
                    </div>
                </div>

                <div class="col-2 d-inline-block"></div>

                <div class="col-2 ms-5 my-5 d-inline-block">
                    <label for="exampleInputPassword1" class="form-label text-white">DATE</label>
                    <input type="date" class="form-control" value="{{edit_date}}" name="date" required>
                    <div id="networkHelp" class="form-text text-white">Enter date</div>
                </div>

                <div class="col-10 mb-3">
                    <label for="exampleInputEmail1" class="form-label text-white">DESCRIPTION</label>
                    <input type="text" class="form-control" value="" name="description" required>
                    <div id="showHelp" class="form-text text-white">Enter the tv show description</div>
                </div>

                <div></div>
                <button type="submit"" class=" col-5 my-5 btn btn-lg btn-secondary ">Update</button>
                    <a type=" button" class="btn btn-lg btn-dark" href="/shows" role="button">Go to Show</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}