{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col-12 m-0 p-5" style="background-color: rgba(0,0,0,0.6); height: fit-content">

        <div class="col-11 p-1">
            <h1 class="text-info d-inline-block">
                TV SHOW # {{ selected_show.id }}
            </h1>
            <a type="button" class="col-2 offset-md-7 d-inline-block btn btn-outline-light" href="/shows"
                role="button">Go Shows</a>

            <div class="my-5 d-block"></div>

            <h2 class="text-info d-inline-block">
                Title:
            </h2>
            <h3 class="text-white d-inline-block">
                {{ selected_show.title }}
            </h3>

            <div class="my-5 d-block"></div>

            <h2 class="text-info d-inline-block">
                Network:
            </h2>
            <h3 class="text-white d-inline-block">
                {{ selected_show.network.name }}
            </h3>

            <div class="my-5 d-block"></div>

            <h2 class="text-info d-inline-block">
                Release date:
            </h2>
            <h3 class="text-white d-inline-block">
                {{ selected_show.date }}
            </h3>

            <div class="my-5 d-block"></div>

            <h2 class="text-info">
                Description:
            </h2>
            <h3 class="text-white">
                {{ selected_show.description }}
            </h3>
        </div>

        <div class="my-5 d-block"></div>

        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a type="button" class="btn btn-lg btn-outline-secondary far fa-edit"
                href="/shows/{{ selected_show.id }}/edit" role="button"></a>
            <a type="button" class="btn btn-lg btn-outline-secondary far fa-trash-alt"
                href="/shows/{{ selected_show.id }}/destroy" role="button"></a>
        </div>
    </div>
</div>

{% endblock %}